.homepage-scene {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  text-align: center;

  h1 em {
    border-bottom: 1px dashed #888;
    cursor: pointer;
  }

  .slider-container {
    max-width: 500px;
    margin: 0 auto;
  }
}
