.kea-slider {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;

  img {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .buttons {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    z-index: 2;
    line-height: 10px;
    height: 10px;

    span {
      background: #fff;
      cursor: pointer;
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      margin: 0 5px;

      &.selected {
        background: #08FF04;
      }
    }
  }
}

@media (min-width: 960px) {
  .kea-slider {
    height: 600px;
    overflow: hidden;

    img {
      position: absolute;
    }
  }
}
